/* google font poppins and roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background-color: transparent;
    border: transparent;
}


:root {
    /* font typography */
    --fs-16: 1rem;
    --fs-32: 2rem;
    --fs-20: 1.2rem;
    --fs-14: .8rem;
    --fs-17: 1.1rem;
    --fs-55: 3.5rem;
    --fs-28: 1.7rem;
    --fs-18: 1.1rem;
    --fs-40: 2.5rem;
    --fs-44: 2.8rem;

    /* color typography  */
    --primary_color: #00bef2;
    --color_b: #000;
    --color-w: #fff;
    --bg-black: #000;
    --bg: #F5F5F5;

    /* font weight typography  */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* transition typography  */
    --ts-3s: all .3s ease;


    --letter-sp-24: 1.5rem

    /* font family  */
    --font-roboto: "Roboto", sans-serif;

    /* text transform  */
    --text-ts-uppercase: uppercase;
    --text-ts-lowercase: lowercase;
    --text-ts-capitalize: capitalize;
}

.py-75 {
    padding: 4.7rem 0rem;
}

.pb-75 {
    padding-bottom: 4.7rem;
}
.pb-35 {
    padding-bottom: 2.2rem;
}

.pt-25 {
    padding-top: 1.6rem;
}
.pb-5 {
    padding-top: .3.2rem;
}

.mb-20 {
    margin-bottom: 1.2rem;
}

.max-w-1040 {
    max-width: 1040px;
    margin-inline: auto;
}

.container {
    max-width: 1140px !important;
}

.primary_btn {
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
    color: var(--color-w);
    display: block;
    padding: 13px 25px;
    background-color: var(--primary_color);
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    transition: all .3s ease;
}

.primary_btn:hover {
    background-color: var(--color_b);
}

.transparent_btn {
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
    color: var(--color-w);
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid var(--primary_color);
    border-radius: 50px;
    transition: all .3s ease;
}

.header_title {
    font-size: var(--fs-32);
    font-weight: var(--fw-600);
    color: var(--color_b);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header_subTitle {
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    color: var(--color_b);
}


